In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import math

df=pd.read_excel("./Universalbank_1500-1.xlsx")

bank_df = df.drop('ZIP Code', axis=1)
bank_df.head(5)

,ID,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,4,1.0,2,0,0,0,0,0,1

In [2]:
def stats_mean(data):
    mean_vector=np.array([])
    for f in data.columns:
        m=data[f].mean()
        mean_vector=np.append(mean_vector, m)
        
    return mean_vector
stats_mean(bank_df)

array([7.50500000e+02, 4.52680000e+01, 2.00280000e+01, 7.42520000e+01,
       2.42266667e+00, 1.98320000e+00, 1.86266667e+00, 5.58200000e+01,
       1.01333333e-01, 1.06666667e-01, 6.06666667e-02, 6.05333333e-01,
       2.90000000e-01])

In [3]:
def within_scatter(data):
    
    data1 = data.drop('Personal Loan', axis=1)
    
    mean = stats_mean(data1)
    s=0
    for i in range(len(data1)):
        s+= np.outer(np.array(data1.iloc[i,:])-mean, (np.array(data1.iloc[i,:])-mean).transpose())
    return s

In [4]:
def btw_scatter(data_entire, data):
    
    data1 = data.drop('Personal Loan', axis=1)
    data1_entire = data_entire.drop('Personal Loan', axis=1)
    
    mean_total = stats_mean(data1_entire)
    mean_class = stats_mean(data1)
    
    n_class = len(data1)
    
    s = n_class*(np.outer((mean_class-mean_total),((mean_class-mean_total).transpose())))
    
    return s

In [5]:
def get_within_scatter(data, label):
    
    labels=data[label].unique()
    
    s=0
    for i in labels:
        
        df=data[data[label]==i]
        s += within_scatter(df)
    return s

In [6]:
def get_btw_scatter(data, label):
    
    labels=data[label].unique()
    
    s=0
    for i in labels:
        
        df=data[data[label]==i]
        s+=btw_scatter(data, df)
    return s

In [7]:
def sw_inv_sb(sw,sb):
    
    sw_inv = np.linalg.inv(sw)
    
    return sw_inv*sb

In [8]:
def eigens(M):
    
    eigenvalues, eigenvectors = np.linalg.eig(M)
    
    return eigenvalues, eigenvectors

eigenabc = eigens(sw_inv_sb(get_within_scatter(bank_df, "Personal Loan"),get_btw_scatter(bank_df, "Personal Loan")))

In [9]:
def desc_chose_eigen_vect(eigenvalues, eigenvectors):

    eigen_dict={}
    for i in range(len(eigenvalues)):
        eigen_dict[eigenvalues[i]]=eigenvectors[i]
    
    sorted_dict = dict(sorted(eigen_dict.items(), reverse=True))
    
    return sorted_dict

desc_chose_eigen_vect(eigenabc[0], eigenabc[1])

{0.6677390510719808: array([ 9.16053172e-04,  8.08134992e-04,  2.57231075e-03,  1.18693540e-04,
         2.95940007e-03,  6.48875206e-04, -1.91969302e-02, -6.60336553e-03,
         6.97510315e-03, -3.59151979e-02,  9.98096346e-01,  4.51187472e-02]),
 0.16207524089545433: array([-0.01554694,  0.06765116, -0.06287449,  0.62590181, -0.04498171,
         0.0869151 , -0.02700156,  0.0100891 ,  0.0224032 , -0.02059344,
         0.0334086 , -0.7661754 ]),
 0.14681060141205413: array([ 0.01716164, -0.08361842,  0.07666899, -0.74905358,  0.05708224,
        -0.11132071, -0.01530666,  0.00887498,  0.0188834 , -0.01734746,
         0.02774204, -0.63903298]),
 0.10763476179007919: array([-9.17971652e-01, -1.26213428e-01,  3.65071153e-01,  4.13408537e-02,
         1.24540774e-02, -7.65705287e-02,  1.98039674e-02, -1.74451430e-04,
         4.96566165e-04,  1.25636924e-04,  3.38125932e-04,  1.20444251e-03]),
 0.02156340346290305: array([-0.00899829, -0.00508268,  0.02392936,  0.00114616,  0.00254746,
        -0.02657755, -0.99858481,  0.00392717, -0.00642313, -0.00726447,
        -0.02078759,  0.02988675]),
 0.019430488298675396: array([ 3.93573542e-01, -2.57187703e-01,  8.67978416e-01,  1.38462982e-01,
         2.99734656e-02, -7.11225881e-02,  2.07520534e-02,  9.62214527e-05,
         1.47973127e-03, -1.11667650e-03, -2.12744204e-03,  6.11402580e-04]),
 0.0024115980982207376: array([-3.15481313e-02, -3.97665111e-02,  1.10937918e-01, -1.43148894e-01,
        -5.73674534e-01,  7.96928228e-01, -1.98237621e-02, -1.27450585e-04,
         3.15536462e-03, -2.92929667e-03,  6.43484120e-04, -3.93595542e-03]),
 0.000509185806289227: array([-7.86012487e-05, -5.10923681e-03, -1.73335472e-03,  6.96296855e-04,
         8.20525853e-05,  5.34410510e-04,  4.03716662e-03,  9.99747730e-01,
         2.40806106e-03,  1.52282681e-02,  6.63030855e-03,  1.32900719e-02]),
 0.00039599826843757674: array([-1.39702592e-02,  9.50935699e-01,  2.98860593e-01, -7.32802719e-02,
        -1.13677099e-02, -1.58862081e-02,  2.67739292e-03,  5.22840005e-03,
        -1.14475194e-02,  1.69258369e-02, -6.03767918e-04, -2.11703216e-03]),
 0.00027372918968357544: array([-6.71630558e-04,  1.63910600e-02,  3.51073883e-03, -8.87171215e-04,
         2.16643992e-03, -1.54837474e-03,  8.95667124e-03,  1.52036204e-02,
        -1.04713356e-02, -9.98657248e-01, -3.67448327e-02,  2.49635007e-02]),
 0.00026697568961625676: array([ 2.77982836e-04, -1.16816450e-02, -1.80757866e-03,  5.31210157e-04,
        -3.02385841e-03,  1.56918237e-03,  5.27428198e-03,  2.51226634e-03,
        -9.99394606e-01,  9.30018818e-03,  8.78501953e-03, -2.93415725e-02]),
 3.168252863384384e-05: array([ 2.48774850e-02, -6.17577940e-03, -3.58117800e-02,  2.04966131e-02,
        -8.15109786e-01, -5.77124849e-01,  1.22125406e-02,  2.02433696e-04,
         1.77216423e-03, -1.13230360e-03,  3.01081378e-03,  8.04007423e-04])}

In [10]:
def w_matrix(data, label, sorted_eigen):
    
    labels_count=data[label].nunique()
    
    keys= list(sorted_eigen.keys())
    w_matrix = np.array([])
    
    for i in range(labels_count-1):
        w_matrix = np.append(w_matrix, sorted_eigen[keys[i]])
    
    return w_matrix.transpose()
      
w_matrix(bank_df, "Personal Loan", desc_chose_eigen_vect(eigenabc[0], eigenabc[1]))

array([ 9.16053172e-04,  8.08134992e-04,  2.57231075e-03,  1.18693540e-04,
        2.95940007e-03,  6.48875206e-04, -1.91969302e-02, -6.60336553e-03,
        6.97510315e-03, -3.59151979e-02,  9.98096346e-01,  4.51187472e-02])

In [11]:
def projection(input_matrix, w_matrix):
    
    x = np.dot(input_matrix, w_matrix)
    
    return x

In [12]:
def LDA(data, label):
    
    input_1=data.drop(label, axis=1)
    
    input_matrix = input_1.values
    
    sw = get_within_scatter(data, label)
    sb = get_btw_scatter(data, label)
    m = sw_inv_sb(sw,sb)
    eigen = eigens(m)
    sorted_eigen = desc_chose_eigen_vect(eigen[0], eigen[1])
    w_matrix1 = w_matrix(data, label, sorted_eigen)
    x = projection(input_matrix, w_matrix1)
    
    return x

y=LDA(bank_df, "Personal Loan")

sorted_y = np.sort(y, kind='quicksort', order=None)[::-1]

print(sorted_y)

[ 2.54463791  2.52211258  2.50704797 ... -2.61078794 -2.89969819
 -3.67415745]